<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/brands/view_brands.css">
    <title>Список брендов</title>
</head>
<body>
    <h1>Список брендов</h1>
    <a href="/brands/orders/new" class="btn btn-primary">Сформировать заказ</a>
    <ul>
        <li th:each="brand : ${brands}">
            <span th:text="${brand.brandName}"></span>
            <a th:href="@{'/brands/edit/' + ${brand.id}}">Редактировать</a>
            <a th:href="@{'/brands/delete/' + ${brand.id}}">Удалить</a>
        </li>
    </ul>
    <a href="/brands/new">Добавить новый бренд</a>
</body>
</html>
